{% extends "base.html" %}

{% block lab %}Регистрация{% endblock %}

{% block main %}
<h1>Регистрация</h1>
<form method="post">
    <div>
        <label for="login">Логин:</label>
        <input type="text" name="login" value="{{ login }}">
    </div>
    <div>
        <label for="name">Имя:</label>
        <input type="text" name="name" value="{{ name }}">
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" name="password">
    </div>
    <div>
        <label for="confirm">Подтверждение пароля:</label>
        <input type="password" name="confirm">
    </div>
    <div style="color:red; font-weight:bold;">{{ error }}</div>
    <div>
        <button type="submit">Зарегистрироваться</button>
        <button type="reset">Очистить</button>
    </div>
</form>
<div><a href="/lab4/login">Назад</a></div>
{% endblock %}
